[submodule ".vim/bundle/ack.vim"]
	path = .vim/bundle/ack.vim
	url = https://github.com/mileszs/ack.vim.git
    ignore = untracked
[submodule ".vim/bundle/command-t"]
	path = .vim/bundle/command-t
	url = https://github.com/wincent/Command-T.git
    ignore = untracked
[submodule ".vim/bundle/gist-vim"]
	path = .vim/bundle/gist-vim
	url = https://github.com/mattn/gist-vim.git
    ignore = untracked
[submodule ".vim/bundle/gundo"]
	path = .vim/bundle/gundo
	url = https://github.com/sjl/gundo.vim.git
    ignore = untracked
[submodule ".vim/bundle/nerdcommenter"]
	path = .vim/bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
    ignore = untracked
[submodule ".vim/bundle/vim-align"]
	path = .vim/bundle/vim-align
	url = https://github.com/tsaleh/vim-align.git
    ignore = untracked
[submodule ".vim/bundle/vim-indentobject"]
	path = .vim/bundle/vim-indentobject
	url = https://github.com/michaeljsmith/vim-indent-object.git
    ignore = untracked
[submodule ".vim/bundle/ragtag"]
	path = .vim/bundle/ragtag
	url = https://github.com/tpope/vim-ragtag.git
    ignore = untracked
[submodule ".vim/bundle/vim-surround"]
	path = .vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
    ignore = untracked
[submodule ".vim/bundle/Decho"]
	path = .vim/bundle/Decho
	url = https://github.com/vim-scripts/Decho.git
    ignore = untracked
[submodule ".vim/bundle/vim-pythontextobj"]
	path = .vim/bundle/vim-pythontextobj
    url = https://github.com/natw/vim-pythontextobj.git
    ignore = untracked
[submodule ".vim/bundle/vim-indent-guides"]
	path = .vim/bundle/vim-indent-guides
	url = https://github.com/nathanaelkane/vim-indent-guides
    ignore = untracked
[submodule ".vim/bundle/vim-rails"]
	path = .vim/bundle/vim-rails
	url = https://github.com/tpope/vim-rails.git
